# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv/
venv/
ENV/

# Build artifacts
*.egg-info/
dist/
build/

# Logs
*.log

# IDE
.vscode/
.idea/


# Secrets
service-account.json